<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><% @if title %><% @var title %><% @else %><%= (config :page-title) %><% @endif %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/favicon.ico?v=2" />
        <link rel="stylesheet" href="/css/foundation.min.css" />
        <link rel="stylesheet" href="/css/main.css?v=<% @var ver %>" />
        <% @if extracss %>
        <% @loop extracss %>
        <script src="/css/<% @var path %>?v=<% @var /ver %>"></script>
        <% @endloop %>
        <% @endif %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type='text/javascript'>
         window.Modernizr || document.write('<script src="/js/vendor/modernizr.js"><\/script>');
        </script>
    </head>

    <body>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name"> 
                    <h1><a href="<%= (url-for :index) %>"><%= (or (config :top-bar-title) "CoDoS") %></h1>
                </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
            </ul> 
            <section class="top-bar-section">
                <!-- Right Nav Section --> 
                <ul class="right"> 
                    <% @if user %>
                    <li>
                        <a><% @var user/login %></a>
                    </li>
                    <li>
                        <a href="<%= (url-for :logout) %>">Log out</a>
                    </li>
                    <% @else %>
                    <li>
                        <a class="plain">Guest</a>
                    </li>
                    <li>
                        <a href="<%= (url-for :register) %>">Register</a>
                    </li>
                    <li>
                        <a href="<%= (url-for :login) %>">Log in</a>
                    </li>
                    <% @endif %>

                </ul>
                <!-- Left Nav Section -->
                <ul class="left"> 
                  <% @if user %>
                    <li>
                        <a href="<%= (url-for :new-document) %><% @if hub-id %>?h=<% @var hub-id %><% @endif %>">Create new document</a>
                    </li>
                  <% @endif %>
                  <!-- <li><a href="#">Left Nav Button</a></li> -->
                </ul> 
            </section>
        </nav>

      <div class="wrapper">
        <div class="header">
        </div>
        <% @var content -escape raw %>
      </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/vendor/jquery.form.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.6/js/foundation.min.js"></script>
        <script>window.Foundation || document.write('<script src="/js/foundation.min.js"><\/script>')</script>
        <script>
         $(document).foundation();
        </script>
        <script src="/js/jquery.cookie.js"></script>

        <script src="/js/codos.js?v=<% @var ver %>"></script>

        <% @if extrajs %>
        <% @loop extrajs %>
        <script src="/js/<% @var path %>?v=<% @var /ver %>"></script>
        <% @endloop %>
        <% @endif %>

        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-56061796-1', 'auto');
         ga('send', 'pageview');
        </script>
    </body>
</html>
