<div class="row">
    <h2>Create new Document</h2>

    <form id="frm_docsettings" method="POST" action="">
        <% @var form -escape raw %>
        <div class="row">
            <input class="button" type="submit" value="Submit" />
        </div>
    </form>
</div>
