<div class="row">
<h2>Login</h2>
    <form id="frm_register" method="POST" action="">
        <% @var form -escape raw %>
        <div class="row">
            <input class="button" type="submit" value="Submit" />
        </div>
    </form>
</div>
