<div class="row">
    <h2><% @var login %></h2>

    <% @if documents %>
    <p>The following documents were created by this user:</p>
    <ul>
        <% @loop documents %>
        <li>
          <a href="<%= (url-for :view-document :slug (getf env :slug)) %>"><% @var title %></a>
        </li>
        <% @endloop %>
    </ul>
    <% @endif %>

</div>
