<div class="row">
  <h2>Viewset settings</h2>
  <h3>Viewfields</h3>
  <ul>
  <% @loop viewfields %>
    <li><% @var abbr %>: <% @var description %></li>
  <% @endloop %>
  </ul>
  <a href="#" onclick="$('#viewfield-add').toggle(); return false">Add new viewfield</a>
</div>

<div class="row">
  <div id="viewfield-add" class="columns small-12 medium-6 panel hide">
    <form id="viewfield-add-form"
          action="<%= (url-for :viewfield-add) %>" method="POST">
      <div id="viewfield-add-inner">
        <% @var viewfield-add-form -escape raw %>
      </div>
      <input class="button" type="submit" value="Submit" />      
    </form>
  </div>
</div>

<div class="row">
  <h3>Viewsets</h3>
  <% @loop viewsets %>
  <h4><% @var title %></h4>
  <ul>
    <% @loop views %>
    <li><% @var abbr %>: <% @var description %></li>
    <% @endloop %>
  </ul>
  <% @endloop %>
</div>
